* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 35px;
    border-bottom: 5px solid black;
}

header nav {
    flex: 1 0 50%;
    display: flex;
}

header ul {
    display: flex;
    justify-content: end;
    width: 100vw;
}

header li {
    list-style: none;
    padding-right: 3%;
}

main {
    display: flex;
    width: 100%;
}

.split {
    height: 100%;
    width: 50%;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}