:root {
  --lineBlack: black;
  --lineWhite: white;
  --borderLine: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#theme {
  width: 1.5%;
  margin: 1%;
}

/* Dark Mode */
.dark {
  background-color: #243447;
  height: 100%;
  color: var(--lineWhite);
}

body .dark{
  border-right: var(--borderLine) solid var(--lineWhite);
}

.dark header {
  border-bottom: var(--borderLine) solid var(--lineWhite);
  margin-bottom: 0.5%;
}

.dark main article {
  height: 30%;
  margin: 2%;
  background-color: aliceblue;
  color: #243447;
  border: var(--borderLine) solid rgb(127, 168, 205);
}

.dark section.left {
  margin-right: 5px;
  border-right: var(--borderLine) solid var(--lineWhite);
}

.dark section.right {
  padding-left: 0.5%;
  border-left: var(--borderLine) solid var(--lineWhite);
}

.dark label {
  color: white;
}

.dark main {
  border-top: var(--borderLine) solid var(--lineWhite);
  border-bottom: var(--borderLine) solid var(--lineWhite);
}

.dark footer {
  margin-top: 0.5%;
  border-top: var(--borderLine) solid var(--lineWhite);
  border-bottom: var(--borderLine) solid var(--lineWhite);
}

/* Light Mode*/
.light {
  background-color: #f0ead6;
  color: var(--lineBlack);
  height: 100%;
}